:root {
  --marron-oscuro: #7A341D;
  --marron: #B9661E;
  --naranja-suave: #E59D6C;
  --crema: #EAC0A0;
  --font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--crema);
  color: var(--marron-oscuro);
}

header {
  background-color: var(--marron);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo img {
  width: 120px;
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  text-align: center;
  padding: 3rem 2rem;
}

.hero {
  background: var(--naranja-suave);
  padding: 3rem;
  border-radius: 20px;
}

.btn {
  display: inline-block;
  margin-top: 1.5rem;
  background-color: var(--marron-oscuro);
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  font-size: 1rem; /* Ajusta el tamaño del texto */
}

footer {
  background-color: var(--marron);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons img {
  width: 24px;
  margin-left: 10px;
}
